<!-- <app-header></app-header>
<app-main class="mx"></app-main> -->
<div class="min-h-full">
  <app-header></app-header>
  <div (click)="toggleEditable()">
    <input
      type="text"
      class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring focus:border-gray-300"
      [(ngModel)]="editableValue"
      [disabled]="!isEditable"
    />
    <button>Toggle Edit</button>
  </div>
  <app-main></app-main>
  <!-- 
  <header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">Dashboard</h1>
    </div>
  </header> -->
</div>
